<div id="mobile-remote-control-ui">
    <button onclick="window.mrc.refresh()">REFRESH</button>
    <div class="accordion">
        <div class="ctl-move">
            <div class="header">Steuerung</div>
            <button class="arrow-btn" onclick="window.mrc.moveUp()">↑</button>
            <div>
                <button class="arrow-btn" onclick="window.mrc.moveLeft()">←</button>
                <button class="arrow-btn" onclick="window.mrc.moveDown()">↓</button>
                <button class="arrow-btn" onclick="window.mrc.moveRight()">→</button>
            </div>
        </div>
        <div class="ctl-actions">
            <div class="header">Aktionen</div>

            <div v-for="actionGroup in allActionGroups">
                <b>{{actionGroup.listName}}</b>
                <button @click="executeAction(action.encodedValue)" v-for="action in actionGroup.actions">{{action.listName}}</button>
            </div>

            <button >{{a}}</button>
            <button onclick="window.mrc.attack()">Attack</button>
        </div>
    </div>
</div>
